<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733700376410-hunfvi4rqtqpmonqtjq4571val1ivie0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733700376410-hunfvi4rqtqpmonqtjq4571val1ivie0</string>
	<key>API_KEY</key>
	<string>AIzaSyAfP_1zfjk0SF6Q5JgoNaWZ1WP_M6Qdak0</string>
	<key>GCM_SENDER_ID</key>
	<string>733700376410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitness</string>
	<key>PROJECT_ID</key>
	<string>uemfitness</string>
	<key>STORAGE_BUCKET</key>
	<string>uemfitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733700376410:ios:80d93357e97ccd19af9563</string>
</dict>
</plist>